.invisible {
    display: none;
}

div {
    margin-bottom: 20px;
}

body {
    display: flex;
}

@media(max-width: 699px) {
    .coluna {
        width: 100%;
    }
}

@media(min-width: 700px) {
    .coluna {
        width: 50%;
    }
}

.coluna {
    border: solid 1px #000;
    width: 50%;
    padding: 20px;
}

#right {
    height: 80vh;
}

#leitor {
    height: 80%;
    overflow-y: scroll;
}

.disabled {
    color: #ccc;
}

.disabled:hover {
    cursor: not-allowed;
}

.menu a:hover:not(.autorfavoritos),
button:hover:not(.disabled) {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#favoritostitulo {
    border: solid 1px #000;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 0;
}

#favoritos {
    position: absolute;
    background-color: #fff;
    border: solid 1px #ccc;
    z-index: 1;
    width: 100%;
}

#voiceSelect {
    margin-top: 20px;
}

favoritos {
    position: relative;
        display: inline-block;
        width:100%;
}

.botoes {
    background-color: #ccc;
    height: 100px;
    padding: 20px
}