* {
    box-sizing: border-box;
}

div:not(#opcoes), select {
    border-radius: 5px;
}

body {
    background-color: #333;
    color: #fff;
    font-family: 'Open sans light', Arial, sans-serif;
}


#leitor p:first-child {
    font-weight: bold;
    font-size: 1.3em;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #aaa;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

select {
    font-size: .8em;    
}

.invisible {
    display: none;
}

.coluna div {
    margin-bottom: 10px;
}

.botoes p, .botoes div {
    margin-bottom: 2px;
    margin-top: 0;
}

@media(max-width: 699px) {
    #opcoes {
        border-bottom: solid 2px #fff;
    }
    body {
        font-size: 12px;
    }
    container {
        display: flex;
        flex-direction: column;
    }
    .coluna {
        width: 100vw;
        height: 50vh;
    }
}

@media(min-width: 700px) {
    #opcoes {
        border-right: solid 2px #fff;
    }
    container {
        display: flex;
    }
    .coluna {
        width: 50%;
        height: 100vh;
    }
}

.coluna {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#leitor, #menumenu {
    overflow-y: scroll;
    border: solid 1px #6e6e6e;
}

#leitor {
    padding: 10px;
    text-align: justify;
    overflow-x: hidden;
}

.disabled {
    color: #ccc;
}

.disabled:hover {
    cursor: not-allowed;
}

button {
    font-family: 'Open sans light', Arial, sans-serif;
    font-weight: bold;
}

.menu a:hover:not(.autorfavoritos),
button:hover:not(.disabled) {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#favoritostitulo, #voiceSelect {
    background-color: #444;
    border: solid 1px #aaa;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 0;
    color: #ccc;
}

#favoritos {
    background-color: #444;
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1;
    width: 100%;
    box-shadow: 0 10px 10px #00000099;
    color: #ccc;
}

#favoritos div {
    margin: 0;
    padding: 5px;
}

#favoritos div:hover {
    background-color: #222;
}

#voiceSelect {
    margin-top: 20px;
}

favoritos {
    position: relative;
    display: inline-block;
    width:100%;
}

.botoes {
    background-color: #ccc;
    padding: 10px;
    color: #000;
}

#menufavoritos {
    padding: 0;
}


#voiceSelect {
    width: 100%;
}
